In [ ]:
# in this notebook varya is trying to export the median point (from the precipitation) from HMA - regions 
# to a dataframe and then later csv file to use as a forsing for testrun of sedcas model 

# take the locations determined in a different notebook (also stored in some csv file already)
# loop through every file that is in the folder on the server:
#    find location. select data 
#    

# find that location in the HMA climate from the server 
# convert to csv 
# save

In [1]:
import pandas as pd
import numpy as np
import xarray as xr
import matplotlib.pyplot as plt
import geopandas as gpd
import os
import glob

from datetime import datetime


%matplotlib inline

In [4]:
# locations_pr

## workapathround (make netcdf conversion to df faster): 

### (this is an important part)

### locations from csv and .shp file

In [2]:
# read locations file - for annual sum precipitations: 
locations_pr = pd.read_table('out/median_annual_precip_regions.csv', sep = ',',index_col =0)

# read locations file - for annial median temp:
locations_t2m = pd.read_table('out/annual_median_t2m_regions.csv', sep = ',', index_col = 0)

# read hma polygons file to a df:
hma = gpd.read_file('HMA_regions/HMA_regions.shp')
hma_df = pd.DataFrame(hma)

### path to folders and output to where save data

In [5]:
path_temp = '/Volumes/Data/Repository/external_data/ERA5/HMA/netcdf/hourly/2m-temperature/'

# precipitations
path_precip = '/Volumes/Data/Repository/external_data/ERA5/HMA/netcdf/hourly/total-precipitation/'

# total cloud cover 
path_clouds = '/Volumes/Data/Repository/external_data/ERA5/HMA/netcdf/hourly/total-cloud-cover/'

# incoming radiation 
path_radiation = '/Volumes/Data/Repository/external_data/ERA5/HMA/netcdf/hourly/surface-solar-radiation-downwards/'


# path for output timeseries
path_output = "/Users/varyabazilova/Desktop/hma_regions/out/timeseries"

### what mountain range are we looking at?

In [6]:
# take the n index of the "locations precipitation" table 

n = 19
print('name of mnt range:', hma_df.Name[n])

point_lat = locations_pr.latitude[n]
point_lon = locations_pr.longitude[n]

# print(datetime.now())

name of mnt range: Eastern Tien Shan

### loop: get the csv for selected point (one mnt range) for each parameter

In [7]:
%%time

# temperatures

print('started at:', datetime.now())

for n, f in enumerate(os.listdir(path_temp)):
    # read every file
    ds = xr.open_dataset(os.path.join(path_temp, f), decode_coords="all")
    # select coordinates: 
    ds = ds.sel(latitude = point_lat, longitude = point_lon, method = 'nearest')
    # kick out the expver dimention
    # ds = ds.sel(expver= slice(0, 1))
    # ds = ds.squeeze()
    ds = ds.drop(labels = ['longitude', 'latitude']).squeeze()
    
    # check:
    print('ready to turn into df at:', datetime.now())
    
    # convert to dataframe
    ds_df = ds.to_dataframe().dropna()#.drop_duplicates()
    
    # export:
    # 1. create a year 
    year = n + 1979
    # 2. save to csv
    # ds_df.to_csv(path_output + '_temp_{y}.csv'.format(y=year))
    ds_df.to_csv('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/19_Eastern_Tien_Shan/' + 'timeseries_temp_{y}.csv'.format(y=year))

    
    print('year - done:', year)
    print('done at:', datetime.now())

started at: 2022-06-21 16:52:59.862544
ready to turn into df at: 2022-06-21 16:53:00.022725
year - done: 1979
done at: 2022-06-21 16:53:36.610193
ready to turn into df at: 2022-06-21 16:53:36.648649
year - done: 1980
done at: 2022-06-21 16:53:50.095908
ready to turn into df at: 2022-06-21 16:53:50.127693
year - done: 1981
done at: 2022-06-21 16:54:04.522725
ready to turn into df at: 2022-06-21 16:54:04.588292
year - done: 1982
done at: 2022-06-21 16:54:20.696882
ready to turn into df at: 2022-06-21 16:54:20.724529
year - done: 1983
done at: 2022-06-21 16:54:54.084248
ready to turn into df at: 2022-06-21 16:54:54.131078
year - done: 1984
done at: 2022-06-21 16:55:23.519231
ready to turn into df at: 2022-06-21 16:55:23.554896
year - done: 1985
done at: 2022-06-21 16:55:53.480138
ready to turn into df at: 2022-06-21 16:55:53.539037
year - done: 1986
done at: 2022-06-21 16:56:12.039652
ready to turn into df at: 2022-06-21 16:56:12.075404
year - done: 1987
done at: 2022-06-21 16:56:37.223991
ready to turn into df at: 2022-06-21 16:56:37.255911
year - done: 1988
done at: 2022-06-21 16:57:11.487191
ready to turn into df at: 2022-06-21 16:57:11.525916
year - done: 1989
done at: 2022-06-21 16:57:27.685648
ready to turn into df at: 2022-06-21 16:57:27.707439
year - done: 1990
done at: 2022-06-21 16:57:43.018602
ready to turn into df at: 2022-06-21 16:57:43.055028
year - done: 1991
done at: 2022-06-21 16:58:14.243851
ready to turn into df at: 2022-06-21 16:58:14.293048
year - done: 1992
done at: 2022-06-21 16:58:47.840046
ready to turn into df at: 2022-06-21 16:58:47.868318
year - done: 1993
done at: 2022-06-21 16:59:24.764516
ready to turn into df at: 2022-06-21 16:59:24.817382
year - done: 1994
done at: 2022-06-21 16:59:40.524183
ready to turn into df at: 2022-06-21 16:59:40.560349
year - done: 1995
done at: 2022-06-21 17:00:02.405768
ready to turn into df at: 2022-06-21 17:00:02.454659
year - done: 1996
done at: 2022-06-21 17:00:35.753616
ready to turn into df at: 2022-06-21 17:00:35.795054
year - done: 1997
done at: 2022-06-21 17:00:51.984366
ready to turn into df at: 2022-06-21 17:00:52.012571
year - done: 1998
done at: 2022-06-21 17:01:24.467014
ready to turn into df at: 2022-06-21 17:01:24.500565
year - done: 1999
done at: 2022-06-21 17:01:58.500349
ready to turn into df at: 2022-06-21 17:01:58.547991
year - done: 2000
done at: 2022-06-21 17:02:34.904633
ready to turn into df at: 2022-06-21 17:02:34.922701
year - done: 2001
done at: 2022-06-21 17:03:07.688057
ready to turn into df at: 2022-06-21 17:03:07.726771
year - done: 2002
done at: 2022-06-21 17:03:23.313620
ready to turn into df at: 2022-06-21 17:03:23.329777
year - done: 2003
done at: 2022-06-21 17:03:56.405758
ready to turn into df at: 2022-06-21 17:03:56.423808
year - done: 2004
done at: 2022-06-21 17:04:13.119197
ready to turn into df at: 2022-06-21 17:04:13.135073
year - done: 2005
done at: 2022-06-21 17:04:47.029928
ready to turn into df at: 2022-06-21 17:04:47.046729
year - done: 2006
done at: 2022-06-21 17:05:15.880663
ready to turn into df at: 2022-06-21 17:05:15.926528
year - done: 2007
done at: 2022-06-21 17:05:46.886073
ready to turn into df at: 2022-06-21 17:05:46.908645
year - done: 2008
done at: 2022-06-21 17:06:15.387148
ready to turn into df at: 2022-06-21 17:06:15.417939
year - done: 2009
done at: 2022-06-21 17:06:52.347435
ready to turn into df at: 2022-06-21 17:06:52.379563
year - done: 2010
done at: 2022-06-21 17:07:06.870689
ready to turn into df at: 2022-06-21 17:07:06.915895
year - done: 2011
done at: 2022-06-21 17:07:22.915256
ready to turn into df at: 2022-06-21 17:07:22.932134
year - done: 2012
done at: 2022-06-21 17:07:56.743428
ready to turn into df at: 2022-06-21 17:07:56.778633
year - done: 2013
done at: 2022-06-21 17:08:18.600014
ready to turn into df at: 2022-06-21 17:08:18.617305
year - done: 2014
done at: 2022-06-21 17:08:32.396269
ready to turn into df at: 2022-06-21 17:08:32.414204
year - done: 2015
done at: 2022-06-21 17:08:53.487838
ready to turn into df at: 2022-06-21 17:08:53.505774
year - done: 2016
done at: 2022-06-21 17:09:28.691243
ready to turn into df at: 2022-06-21 17:09:28.729423
year - done: 2017
done at: 2022-06-21 17:09:43.412285
ready to turn into df at: 2022-06-21 17:09:43.447418
year - done: 2018
done at: 2022-06-21 17:09:59.218736
ready to turn into df at: 2022-06-21 17:09:59.249978
year - done: 2019
done at: 2022-06-21 17:10:15.039144
ready to turn into df at: 2022-06-21 17:10:15.077204
year - done: 2020
done at: 2022-06-21 17:11:22.054552
CPU times: user 2.84 s, sys: 45.2 s, total: 48.1 s
Wall time: 18min 22s

In [ ]:
#### test cell to see what am i doing wrong :/ 
'''
%%time 
preciptest = xr.open_dataset('/Volumes/Data/Repository/external_data/ERA5/HMA/netcdf/hourly/total-precipitation/era5_total-precipitation_hourly_1979.nc')
# preciptest2 = xr.open_dataset('/Volumes/Data/Repository/external_data/ERA5/HMA/netcdf/hourly/total-precipitation/era5_total-precipitation_hourly_1980.nc')


# ds = xr.open_dataset(os.path.join(path_temp, f), decode_coords="all")
    # select coordinates: 
ds = preciptest.sel(latitude = point_lat, longitude = point_lon, method = 'nearest')
    # kick out the expver dimention
    # ds = ds.sel(expver= slice(0, 1))
    # ds = ds.squeeze()
ds = ds.drop(labels = ['longitude', 'latitude']).squeeze()
    
print('ready to turn into df at:', datetime.now())
    
    # convert to dataframe
ds_df = ds.to_dataframe().dropna().drop_duplicates()
'''

In [ ]:
# ds_df = ds_df.reset_index()#.time.values

# for x in preciptest.time.values:
    # print(x)

In [ ]:
# ds_df = ds_df.sort_values('time') 
# for x in ds_df.time.values:
    # print(x)

In [8]:
%%time

# precipitation 

print('started at:', datetime.now())

for n, f in enumerate(os.listdir(path_precip)):
    # read every file
    ds = xr.open_dataset(os.path.join(path_precip, f), decode_coords="all")
    # select coordinates: 
    ds = ds.sel(latitude = point_lat, longitude = point_lon, method = 'nearest')
    # kick out the expver dimention
    # ds = ds.sel(expver= slice(0, 1))
    # ds = ds.squeeze()
    ds = ds.drop(labels = ['longitude', 'latitude'])#.squeeze()
    
    # check:
    print('ready to turn into df at:', datetime.now())
    
    # convert to dataframe
    ds_df = ds.to_dataframe().dropna()#.drop_duplicates()
    
    # export:
    # 1. create a year 
    year = n + 1979
    # 2. save to csv
    # ds_df.to_csv(path_output + '_precip_{y}.csv'.format(y=year))
    ds_df.to_csv('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/19_Eastern_Tien_Shan/' + 'timeseries_precip_{y}.csv'.format(y=year))


    print('year - done:', year)
    print('done at:', datetime.now())

started at: 2022-06-21 17:11:22.060121
ready to turn into df at: 2022-06-21 17:11:22.102816
year - done: 1979
done at: 2022-06-21 17:11:38.013408
ready to turn into df at: 2022-06-21 17:11:38.028999
year - done: 1980
done at: 2022-06-21 17:12:13.880915
ready to turn into df at: 2022-06-21 17:12:13.922335
year - done: 1981
done at: 2022-06-21 17:12:26.757820
ready to turn into df at: 2022-06-21 17:12:26.787670
year - done: 1982
done at: 2022-06-21 17:12:41.137756
ready to turn into df at: 2022-06-21 17:12:41.154195
year - done: 1983
done at: 2022-06-21 17:12:55.355254
ready to turn into df at: 2022-06-21 17:12:55.378842
year - done: 1984
done at: 2022-06-21 17:13:12.240162
ready to turn into df at: 2022-06-21 17:13:12.262427
year - done: 1985
done at: 2022-06-21 17:13:46.807719
ready to turn into df at: 2022-06-21 17:13:46.843806
year - done: 1986
done at: 2022-06-21 17:14:03.101076
ready to turn into df at: 2022-06-21 17:14:03.116616
year - done: 1987
done at: 2022-06-21 17:14:18.649789
ready to turn into df at: 2022-06-21 17:14:18.671544
year - done: 1988
done at: 2022-06-21 17:14:33.559080
ready to turn into df at: 2022-06-21 17:14:33.575878
year - done: 1989
done at: 2022-06-21 17:14:48.031629
ready to turn into df at: 2022-06-21 17:14:48.044712
year - done: 1990
done at: 2022-06-21 17:15:03.576772
ready to turn into df at: 2022-06-21 17:15:03.604139
year - done: 1991
done at: 2022-06-21 17:15:18.908868
ready to turn into df at: 2022-06-21 17:15:18.937044
year - done: 1992
done at: 2022-06-21 17:15:53.592740
ready to turn into df at: 2022-06-21 17:15:53.615376
year - done: 1993
done at: 2022-06-21 17:16:29.012360
ready to turn into df at: 2022-06-21 17:16:29.043728
year - done: 1994
done at: 2022-06-21 17:17:05.233034
ready to turn into df at: 2022-06-21 17:17:05.250832
year - done: 1995
done at: 2022-06-21 17:17:38.593566
ready to turn into df at: 2022-06-21 17:17:38.610562
year - done: 1996
done at: 2022-06-21 17:18:12.404410
ready to turn into df at: 2022-06-21 17:18:12.424810
year - done: 1997
done at: 2022-06-21 17:18:28.158754
ready to turn into df at: 2022-06-21 17:18:28.183404
year - done: 1998
done at: 2022-06-21 17:19:03.483939
ready to turn into df at: 2022-06-21 17:19:03.526297
year - done: 1999
done at: 2022-06-21 17:19:18.977833
ready to turn into df at: 2022-06-21 17:19:19.024855
year - done: 2000
done at: 2022-06-21 17:19:36.020504
ready to turn into df at: 2022-06-21 17:19:36.044439
year - done: 2001
done at: 2022-06-21 17:19:52.662082
ready to turn into df at: 2022-06-21 17:19:52.677723
year - done: 2002
done at: 2022-06-21 17:20:26.967597
ready to turn into df at: 2022-06-21 17:20:27.003015
year - done: 2003
done at: 2022-06-21 17:20:41.679328
ready to turn into df at: 2022-06-21 17:20:41.695371
year - done: 2004
done at: 2022-06-21 17:21:13.817689
ready to turn into df at: 2022-06-21 17:21:13.851016
year - done: 2005
done at: 2022-06-21 17:21:29.088667
ready to turn into df at: 2022-06-21 17:21:29.121856
year - done: 2006
done at: 2022-06-21 17:22:01.761166
ready to turn into df at: 2022-06-21 17:22:01.795882
year - done: 2007
done at: 2022-06-21 17:22:17.659517
ready to turn into df at: 2022-06-21 17:22:17.687817
year - done: 2008
done at: 2022-06-21 17:22:43.654082
ready to turn into df at: 2022-06-21 17:22:43.702717
year - done: 2009
done at: 2022-06-21 17:22:59.756295
ready to turn into df at: 2022-06-21 17:22:59.772486
year - done: 2010
done at: 2022-06-21 17:23:37.455641
ready to turn into df at: 2022-06-21 17:23:37.473125
year - done: 2011
done at: 2022-06-21 17:23:52.788347
ready to turn into df at: 2022-06-21 17:23:52.805630
year - done: 2012
done at: 2022-06-21 17:24:25.797153
ready to turn into df at: 2022-06-21 17:24:25.828134
year - done: 2013
done at: 2022-06-21 17:24:43.338451
ready to turn into df at: 2022-06-21 17:24:43.354447
year - done: 2014
done at: 2022-06-21 17:25:20.888302
ready to turn into df at: 2022-06-21 17:25:20.922717
year - done: 2015
done at: 2022-06-21 17:26:00.239581
ready to turn into df at: 2022-06-21 17:26:00.263947
year - done: 2016
done at: 2022-06-21 17:26:39.658901
ready to turn into df at: 2022-06-21 17:26:39.687468
year - done: 2017
done at: 2022-06-21 17:27:18.388250
ready to turn into df at: 2022-06-21 17:27:18.405602
year - done: 2018
done at: 2022-06-21 17:27:53.662862
ready to turn into df at: 2022-06-21 17:27:53.686451
year - done: 2019
done at: 2022-06-21 17:28:08.410730
ready to turn into df at: 2022-06-21 17:28:08.444728
year - done: 2020
done at: 2022-06-21 17:28:41.523790
CPU times: user 2.7 s, sys: 42.9 s, total: 45.6 s
Wall time: 17min 19s

In [9]:
%%time

# clouds 

print('started at:', datetime.now())

for n, f in enumerate(os.listdir(path_clouds)):
    # read every file
    ds = xr.open_dataset(os.path.join(path_clouds, f), decode_coords="all")
    # select coordinates: 
    ds = ds.sel(latitude = point_lat, longitude = point_lon, method = 'nearest')
    # kick out the expver dimention
    # ds = ds.sel(expver= slice(0, 1))
    # ds = ds.squeeze()
    ds = ds.drop(labels = ['longitude', 'latitude']).squeeze()
    
    # check:
    print('ready to turn into df at:', datetime.now())
    
    # convert to dataframe
    ds_df = ds.to_dataframe().dropna()#.drop_duplicates()
    
    # export:
    # 1. create a year 
    year = n + 1979
    # 2. save to csv
    # ds_df.to_csv(path_output + '_cloud_cover_{y}.csv'.format(y=year))
    ds_df.to_csv('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/19_Eastern_Tien_Shan/' + 'timeseries_clouds_{y}.csv'.format(y=year))

    print('year - done:', year)
    print('done at:', datetime.now())

started at: 2022-06-21 17:28:41.533251
ready to turn into df at: 2022-06-21 17:28:41.553096
year - done: 1979
done at: 2022-06-21 17:29:05.881517
ready to turn into df at: 2022-06-21 17:29:05.903719
year - done: 1980
done at: 2022-06-21 17:29:40.788166
ready to turn into df at: 2022-06-21 17:29:40.810922
year - done: 1981
done at: 2022-06-21 17:30:09.265628
ready to turn into df at: 2022-06-21 17:30:09.285756
year - done: 1982
done at: 2022-06-21 17:30:54.141939
ready to turn into df at: 2022-06-21 17:30:54.163159
year - done: 1983
done at: 2022-06-21 17:31:18.307749
ready to turn into df at: 2022-06-21 17:31:18.328430
year - done: 1984
done at: 2022-06-21 17:31:34.176919
ready to turn into df at: 2022-06-21 17:31:34.192777
year - done: 1985
done at: 2022-06-21 17:32:13.621575
ready to turn into df at: 2022-06-21 17:32:13.638189
year - done: 1986
done at: 2022-06-21 17:32:30.531513
ready to turn into df at: 2022-06-21 17:32:30.548455
year - done: 1987
done at: 2022-06-21 17:32:45.528254
ready to turn into df at: 2022-06-21 17:32:45.546453
year - done: 1988
done at: 2022-06-21 17:33:03.888025
ready to turn into df at: 2022-06-21 17:33:03.903159
year - done: 1989
done at: 2022-06-21 17:33:20.881389
ready to turn into df at: 2022-06-21 17:33:20.898172
year - done: 1990
done at: 2022-06-21 17:33:36.179147
ready to turn into df at: 2022-06-21 17:33:36.195225
year - done: 1991
done at: 2022-06-21 17:33:52.099697
ready to turn into df at: 2022-06-21 17:33:52.115126
year - done: 1992
done at: 2022-06-21 17:34:07.286896
ready to turn into df at: 2022-06-21 17:34:07.305387
year - done: 1993
done at: 2022-06-21 17:34:25.111524
ready to turn into df at: 2022-06-21 17:34:25.127381
year - done: 1994
done at: 2022-06-21 17:35:07.174224
ready to turn into df at: 2022-06-21 17:35:07.191687
year - done: 1995
done at: 2022-06-21 17:35:42.883974
ready to turn into df at: 2022-06-21 17:35:42.901100
year - done: 1996
done at: 2022-06-21 17:36:00.127613
ready to turn into df at: 2022-06-21 17:36:00.143127
year - done: 1997
done at: 2022-06-21 17:36:30.500336
ready to turn into df at: 2022-06-21 17:36:30.518039
year - done: 1998
done at: 2022-06-21 17:36:45.840569
ready to turn into df at: 2022-06-21 17:36:45.861320
year - done: 1999
done at: 2022-06-21 17:37:01.207239
ready to turn into df at: 2022-06-21 17:37:01.222673
year - done: 2000
done at: 2022-06-21 17:37:34.819152
ready to turn into df at: 2022-06-21 17:37:34.841492
year - done: 2001
done at: 2022-06-21 17:37:48.861729
ready to turn into df at: 2022-06-21 17:37:48.879184
year - done: 2002
done at: 2022-06-21 17:38:04.418368
ready to turn into df at: 2022-06-21 17:38:04.434622
year - done: 2003
done at: 2022-06-21 17:38:17.790877
ready to turn into df at: 2022-06-21 17:38:17.807895
year - done: 2004
done at: 2022-06-21 17:38:33.106848
ready to turn into df at: 2022-06-21 17:38:33.125833
year - done: 2005
done at: 2022-06-21 17:38:47.576772
ready to turn into df at: 2022-06-21 17:38:47.594879
year - done: 2006
done at: 2022-06-21 17:39:02.517386
ready to turn into df at: 2022-06-21 17:39:02.534048
year - done: 2007
done at: 2022-06-21 17:39:19.080793
ready to turn into df at: 2022-06-21 17:39:19.098361
year - done: 2008
done at: 2022-06-21 17:39:34.935065
ready to turn into df at: 2022-06-21 17:39:34.954605
year - done: 2009
done at: 2022-06-21 17:39:57.745155
ready to turn into df at: 2022-06-21 17:39:57.759298
year - done: 2010
done at: 2022-06-21 17:40:11.688954
ready to turn into df at: 2022-06-21 17:40:11.705124
year - done: 2011
done at: 2022-06-21 17:40:26.747437
ready to turn into df at: 2022-06-21 17:40:26.762705
year - done: 2012
done at: 2022-06-21 17:40:41.619132
ready to turn into df at: 2022-06-21 17:40:41.635194
year - done: 2013
done at: 2022-06-21 17:40:56.569263
ready to turn into df at: 2022-06-21 17:40:56.586518
year - done: 2014
done at: 2022-06-21 17:41:13.265498
ready to turn into df at: 2022-06-21 17:41:13.283174
year - done: 2015
done at: 2022-06-21 17:41:27.360342
ready to turn into df at: 2022-06-21 17:41:27.379982
year - done: 2016
done at: 2022-06-21 17:41:41.343887
ready to turn into df at: 2022-06-21 17:41:41.359696
year - done: 2017
done at: 2022-06-21 17:41:55.374157
ready to turn into df at: 2022-06-21 17:41:55.391018
year - done: 2018
done at: 2022-06-21 17:42:26.437004
ready to turn into df at: 2022-06-21 17:42:26.453607
year - done: 2019
done at: 2022-06-21 17:42:50.546032
ready to turn into df at: 2022-06-21 17:42:50.565073
year - done: 2020
done at: 2022-06-21 17:43:20.163576
CPU times: user 2.5 s, sys: 43.5 s, total: 46 s
Wall time: 14min 38s

In [10]:
%%time

# radiation 

print('started at:', datetime.now())

for n, f in enumerate(os.listdir(path_radiation)):
    # read every file
    ds = xr.open_dataset(os.path.join(path_radiation, f), decode_coords="all")
    # select coordinates: 
    ds = ds.sel(latitude = point_lat, longitude = point_lon, method = 'nearest')
    # kick out the expver dimention
    # ds = ds.sel(expver= slice(0, 1))
    # ds = ds.squeeze()
    ds = ds.drop(labels = ['longitude', 'latitude']).squeeze()
    
    # check:
    print('ready to turn into df at:', datetime.now())
    
    # convert to dataframe
    ds_df = ds.to_dataframe().dropna()#.drop_duplicates()
    
    # export:
    # 1. create a year 
    year = n + 1979
    # 2. save to csv
    # ds_df.to_csv(path_output + '_SWradiation_{y}.csv'.format(y=year))
    ds_df.to_csv('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/19_Eastern_Tien_Shan/' + 'timeseries_radiation_{y}.csv'.format(y=year))


    print('year - done:', year)
    print('done at:', datetime.now())

started at: 2022-06-21 17:43:20.172774
ready to turn into df at: 2022-06-21 17:43:20.221953
year - done: 1979
done at: 2022-06-21 17:43:36.675476
ready to turn into df at: 2022-06-21 17:43:36.692035
year - done: 1980
done at: 2022-06-21 17:44:07.130942
ready to turn into df at: 2022-06-21 17:44:07.148224
year - done: 1981
done at: 2022-06-21 17:44:45.815515
ready to turn into df at: 2022-06-21 17:44:45.833107
year - done: 1982
done at: 2022-06-21 17:45:18.657007
ready to turn into df at: 2022-06-21 17:45:18.674098
year - done: 1983
done at: 2022-06-21 17:45:51.359792
ready to turn into df at: 2022-06-21 17:45:51.378224
year - done: 1984
done at: 2022-06-21 17:46:24.553061
ready to turn into df at: 2022-06-21 17:46:24.570789
year - done: 1985
done at: 2022-06-21 17:46:57.434622
ready to turn into df at: 2022-06-21 17:46:57.454674
year - done: 1986
done at: 2022-06-21 17:47:13.496709
ready to turn into df at: 2022-06-21 17:47:13.513729
year - done: 1987
done at: 2022-06-21 17:47:48.685681
ready to turn into df at: 2022-06-21 17:47:48.705711
year - done: 1988
done at: 2022-06-21 17:48:04.395063
ready to turn into df at: 2022-06-21 17:48:04.411774
year - done: 1989
done at: 2022-06-21 17:48:36.030298
ready to turn into df at: 2022-06-21 17:48:36.048147
year - done: 1990
done at: 2022-06-21 17:49:12.991762
ready to turn into df at: 2022-06-21 17:49:13.008709
year - done: 1991
done at: 2022-06-21 17:49:28.069283
ready to turn into df at: 2022-06-21 17:49:28.089197
year - done: 1992
done at: 2022-06-21 17:50:00.931718
ready to turn into df at: 2022-06-21 17:50:00.949549
year - done: 1993
done at: 2022-06-21 17:50:37.743212
ready to turn into df at: 2022-06-21 17:50:37.763191
year - done: 1994
done at: 2022-06-21 17:51:10.964770
ready to turn into df at: 2022-06-21 17:51:10.986771
year - done: 1995
done at: 2022-06-21 17:51:44.931518
ready to turn into df at: 2022-06-21 17:51:44.953858
year - done: 1996
done at: 2022-06-21 17:52:16.501544
ready to turn into df at: 2022-06-21 17:52:16.520191
year - done: 1997
done at: 2022-06-21 17:52:33.041662
ready to turn into df at: 2022-06-21 17:52:33.056312
year - done: 1998
done at: 2022-06-21 17:53:03.318679
ready to turn into df at: 2022-06-21 17:53:03.336100
year - done: 1999
done at: 2022-06-21 17:53:40.653770
ready to turn into df at: 2022-06-21 17:53:40.671123
year - done: 2000
done at: 2022-06-21 17:54:11.101402
ready to turn into df at: 2022-06-21 17:54:11.121237
year - done: 2001
done at: 2022-06-21 17:54:25.209553
ready to turn into df at: 2022-06-21 17:54:25.225197
year - done: 2002
done at: 2022-06-21 17:54:39.589770
ready to turn into df at: 2022-06-21 17:54:39.609902
year - done: 2003
done at: 2022-06-21 17:54:53.116682
ready to turn into df at: 2022-06-21 17:54:53.131385
year - done: 2004
done at: 2022-06-21 17:55:07.235500
ready to turn into df at: 2022-06-21 17:55:07.250620
year - done: 2005
done at: 2022-06-21 17:55:21.443293
ready to turn into df at: 2022-06-21 17:55:21.461219
year - done: 2006
done at: 2022-06-21 17:55:36.473008
ready to turn into df at: 2022-06-21 17:55:36.490571
year - done: 2007
done at: 2022-06-21 17:55:49.333772
ready to turn into df at: 2022-06-21 17:55:49.350340
year - done: 2008
done at: 2022-06-21 17:56:04.279549
ready to turn into df at: 2022-06-21 17:56:04.296625
year - done: 2009
done at: 2022-06-21 17:56:23.375939
ready to turn into df at: 2022-06-21 17:56:23.396989
year - done: 2010
done at: 2022-06-21 17:56:59.526862
ready to turn into df at: 2022-06-21 17:56:59.545751
year - done: 2011
done at: 2022-06-21 17:57:34.767242
ready to turn into df at: 2022-06-21 17:57:34.783044
year - done: 2012
done at: 2022-06-21 17:58:03.926820
ready to turn into df at: 2022-06-21 17:58:03.946201
year - done: 2013
done at: 2022-06-21 17:58:19.906986
ready to turn into df at: 2022-06-21 17:58:19.925438
year - done: 2014
done at: 2022-06-21 17:58:36.363443
ready to turn into df at: 2022-06-21 17:58:36.381605
year - done: 2015
done at: 2022-06-21 17:58:51.355509
ready to turn into df at: 2022-06-21 17:58:51.373042
year - done: 2016
done at: 2022-06-21 17:59:06.307760
ready to turn into df at: 2022-06-21 17:59:06.322839
year - done: 2017
done at: 2022-06-21 17:59:21.742747
ready to turn into df at: 2022-06-21 17:59:21.757897
year - done: 2018
done at: 2022-06-21 17:59:36.656466
ready to turn into df at: 2022-06-21 17:59:36.672376
year - done: 2019
done at: 2022-06-21 17:59:52.914565
ready to turn into df at: 2022-06-21 17:59:52.941461
year - done: 2020
done at: 2022-06-21 18:00:23.178071
CPU times: user 2.59 s, sys: 42.9 s, total: 45.5 s
Wall time: 17min 3s

### read created .csv-s and attach them together (separately for each variable)

In [11]:
# region #1 temperatures 

# files = glob.glob('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/1_Western_Himalaya/temp/*.csv')
# files = glob.glob('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/13_Tibetan_Interior_Mountains/temp/*.csv')
files = glob.glob('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/19_Eastern_Tien_Shan/temp/*.csv')



df_all = []

for f in files:
    df = pd.read_csv(f, sep = ',')
    df_all.append(df)

temps_region1 = pd.concat(df_all).sort_values('time').drop('expver', axis=1).set_index('time')
# temps_region1.to_csv('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/19_Eastern_Tien_Shan/temps_1979_2020.csv')

In [12]:
# region #1 precipitation 

# files = glob.glob('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/1_Western_Himalaya/precip/*.csv')
# files = glob.glob('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/13_Tibetan_Interior_Mountains/precip/*.csv')
files = glob.glob('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/19_Eastern_Tien_Shan/precip/*.csv')


df_all = []

for f in files:
    df = pd.read_csv(f, sep = ',')
    df_all.append(df)

precip_region1 = pd.concat(df_all).sort_values('time').drop('expver', axis=1).set_index('time')
# precip_region1.to_csv('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/19_Eastern_Tien_Shan/precip_1979_2020.csv')

In [13]:
# region #1 clouds 

# files = glob.glob('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/1_Western_Himalaya/clouds/*.csv')
# files = glob.glob('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/13_Tibetan_Interior_Mountains/clouds/*.csv')
files = glob.glob('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/19_Eastern_Tien_Shan/clouds/*.csv')


df_all = []

for f in files:
    df = pd.read_csv(f, sep = ',')
    df_all.append(df)

clouds_region1 = pd.concat(df_all).sort_values('time').drop('expver', axis=1).set_index('time')
# clouds_region1.to_csv('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/19_Eastern_Tien_Shan/clouds_1979_2020.csv')

In [14]:
# region #1 radiation 

# files = glob.glob('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/1_Western_Himalaya/radiation/*.csv')
# files = glob.glob('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/13_Tibetan_Interior_Mountains/radiation/*.csv')
files = glob.glob('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/19_Eastern_Tien_Shan/radiation/*.csv')


df_all = []

for f in files:
    df = pd.read_csv(f, sep = ',')
    df_all.append(df)

swradiation_region1 = pd.concat(df_all).sort_values('time').drop('expver', axis=1).set_index('time')
# swradiation_region1.to_csv('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/19_Eastern_Tien_Shan/SWradiation_1979_2020.csv')

### merge all variables together using 'time' as key

In [24]:
# sample climate data - how it all is supposed to look like:

sampleclimate = pd.read_csv('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/1_Western_Himalaya/sample_climate.met', sep = '\t')
# sampleclimate

In [15]:
# read all 
path = '/Users/varyabazilova/Desktop/hma_regions/out/timeseries/19_Eastern_Tien_Shan'

temps = pd.read_csv(path + '/temps_1979_2020.csv', index_col = 0)
precip = pd.read_csv(path + '/precip_1979_2020.csv', index_col = 0)
clouds = pd.read_csv(path + '/clouds_1979_2020.csv', index_col = 0)
radiation = pd.read_csv(path + '/SWradiation_1979_2020.csv', index_col = 0)

# slice data so it starts and ends at the same time
start = '1980-01-01 00:00:00' 
end = '2019-01-01 00:00:00'

temps = temps.loc[start:end,:]
precip = precip.loc[start:end,:]
clouds = clouds.loc[start:end,:]
radiation = radiation.loc[start:end,:]

In [16]:
print('temps length:', len(temps)) 
print('precip length:', len(precip)) 
print('clouds length:', len(clouds)) 
print('radiation length:', len(radiation))

temps length: 341881
precip length: 341881
clouds length: 341881
radiation length: 341881

In [18]:
# clouds = clouds.reset_index().drop_duplicates()
# clouds = clouds.set_index('time')

In [19]:
print('new length clouds:', len(clouds))

new length clouds: 341881

In [17]:
# ----- merge together:

allstuff = temps.join([precip, radiation, clouds])

# ----- convert units: 

#convert temperature K to C
allstuff['t2m']=allstuff.t2m-273.15
# precipotation m to mm 
allstuff['tp']=allstuff.tp * 1000
# radiation j/m2 to w/m2
# SSR [W/m2] = SSR [J/m^2] / (3600 seconds)
allstuff['ssrd'] = allstuff.ssrd / 3600

In [19]:
# allstuff.head()
# allstuff[1000:1500].t2m.plot()

In [20]:
# rename columns: 

allstuff = allstuff.reset_index()

In [21]:
allstuff = allstuff.rename(columns={'time': 'D', 't2m':'Ta', 'tp':'Pr', 'tcc':'N', 'ssrd':'Rsw'})

In [22]:
allstuff.head()

                     D        Ta        Pr         Rsw         N
0  1980-01-01 00:00:00 -12.92365  0.031281    0.000000  0.842461
1  1980-01-01 01:00:00 -14.07618  0.022126    0.000000  0.782384
2  1980-01-01 02:00:00 -14.28500  0.015259    0.000000  0.743381
3  1980-01-01 03:00:00 -14.21647  0.012208   30.036458  0.745823
4  1980-01-01 04:00:00 -13.98212  0.009155  124.522639  0.621427

In [25]:
sampleclimate.head()

                     D   Pr   Ta  Rsw   N
0  1999-10-01 00:00:00  0.0  5.6  1.0 NaN
1  1999-10-01 01:00:00  0.0  5.5  2.0 NaN
2  1999-10-01 02:00:00  0.0  5.7  1.0 NaN
3  1999-10-01 03:00:00  0.4  5.7  0.0 NaN
4  1999-10-01 04:00:00  0.1  5.7  0.0 NaN

### save output!

In [26]:
# allstuff.to_csv('/Users/varyabazilova/Desktop/hma_regions/out/timeseries/19_Eastern_Tien_Shan/climate.met', sep = '\t', index = False)